[submodule "QSimpleRestServer"]
	path = QSimpleRestServer
	url = https://github.com/Tropby/QSimpleRestServer

[submodule "QtInstagram"]
	path = QtInstagram
	url = https://github.com/neochapay/QtInstagram.git
